.main-rt {
  width: 360px;
}
.main-rt-top {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 15px 0px;
}

.main-rt-top-donation {
  /* width: 100%; */
  height: 249px;
  background: #ffe800;
  border-radius: 12px 12px 0px 0px;
  padding: 34px 26px 29px;
  position: relative;
}
.donation-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #202020;
}
.donation-data {
  padding-top: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
.donation-img {
  justify-content: flex-end;
  display: flex;
}
.donation-img img {
  top: 20px;
  position: absolute;
  width: 105px;
  height: 133px;
}
.donation-card {
  margin-top: 40px;
  padding: 0 20px;
  width: 308px;
  height: 60px;
  background: #fff;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.donation-card img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.donation-card h2 {
  font-size: 16px;
  font-weight: 600;
  color: #444;
  margin-right: 27px;
}
.donation-card span {
  font-size: 18px;
  font-weight: 600;
  color: #202020;
  letter-spacing: 0.2px;
}
.main-rt-top-review {
  width: 100%;
  height: 281px;
  background: #fff;
  border-radius: 0px 0px 12px 12px;
  padding: 31px 26px 46px;
}
.main-rt-top-review {
  width: 100%;
  height: 281px;
  background: #fff;
  border-radius: 0px 0px 12px 12px;
  padding: 31px 26px 46px;
}
.review-head {
  display: inline-block;
  color: #888;
  font-size: 13px;
  font-weight: 600;
}
.review-title {
  padding-top: 16px;
  color: #444;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.9;
}
.review-text {
  padding-top: 11px;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: -0.5px;
}

.main-rt-banner {
  position: relative;
  width: 100%;
  height: 204px;
  margin-top: 30px;
  border-radius: 12px;
  background: #fff5cc;
}
.banner-url {
  display: flex;
  width: 100%;
  height: 204px;
  padding: 35px 26px;
}
.banner-txt h2 {
  font-size: 20px;
  font-weight: 600;
  color: #661a20;
  padding-bottom: 10px;
  line-height: 1.5;
}
.banner-txt span {
  font-size: 14px;
  /* 색상 추후 수정 필요 */
  color: #9e5b60;
}

.banner-img {
  position: absolute;
  right: 12px;
  bottom: 10px;
}
.banner-img img {
  width: 110px;
  height: 110px;
}

/* 설문조사 */
.main-rt-card {
  width: 100%;
  height: 387px;
  padding: 30px 26px;
}

.rt-card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 19px;
}
.rt-card-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.rt-card-list {
  display: flex;
  height: 60px;
  background: #f5f5f4;
  border-radius: 6px;

  align-items: center;
}
.rt-card-list img {
  border-radius: 6px;
  width: 60px;
  height: 100%;
  object-fit: cover;
}
.card-list-box {
  padding-left: 16px;
  width: 248px;
}
.card-list-box h3 {
  font-size: 15px;
  font-weight: 600;
  color: #444;
  line-height: 1.73;
}
.card-list-box span {
  font-size: 13px;
  color: #888;
  line-height: 1.48;
}

/* 소식정보 */

/* a 범위 재설정 필요 */
.main-rt-news {
  width: 360px;
  height: 420px;
  padding: 30px 26px;
}
.main-rt-news h2 {
  font-size: 20px;
  line-height: 1.61;
  font-weight: 600;
  color: #202020;
  margin-bottom: 19px;
}
.news-item {
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
}
.news-item-list-g {
  width: 152px;
  height: 152px;
  padding: 15px 12px 12px;
  border-radius: 4px;
  background: #aaa6a2;
  position: relative;
  margin: 2px;
}
.news-item-list-y {
  width: 152px;
  height: 152px;
  padding: 15px 12px 12px;
  border-radius: 4px;
  background: #ffc92d;
  position: relative;
  margin: 2px;
}

.news-item-list h3 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  line-height: 1.61;

  letter-spacing: -1px;
}

.news-item-list img {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 12px;
  bottom: 12px;
}

@media all and (max-width: 768px) {
  .main-rt {
    /* width: 100%; */
    /* max-width: 100%; */
  }
  .main-rt-top {
    /* 360/1120*100 */
    /* width: 46.87%; */
    /* max-width: 360px; */
    /* 530/1120*100 */
    /* height: 69.01vw;
    max-height: 570px;

    /* width: 100%; */
    /* max-width: 100%;
    height: 100vw;
    max-height: 570px; */
  }
}
