.main-rt {
  width: 32.14%;
  max-width: 360px;
}
.main-rt-top {
  /* width: 100%; */
  height: auto;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}

.main-rt-top-donation {
  /* width: 100%; */
  /* height: 249px; */
  background: #ffe800;
  border-radius: 12px 12px 0px 0px;
  padding: 34px 26px 29px;
  position: relative;
}
.donation-title {
  font-size: 20px;
  font-family: "KakaoBig Bold";
  line-height: 1.5;
}
.donation-data {
  padding-top: 13px;
  color: rgba(136, 51, 51, 0.5);
  font-size: 13px;
}
.donation-img {
  justify-content: flex-end;
  display: flex;
}
.donation-img img {
  top: 20px;
  position: absolute;
  width: 105px;
  height: 133px;
}
.donation-card {
  margin-top: 40px;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
}
.donation-card img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.donation-card h2 {
  font-size: 16px;
  font-family: "KakaoBig Bold";
  color: #444;
}
.donation-card span {
  flex-grow: 1;
  text-align: right;
  font-size: 18px;
  font-family: "KakaoBig Bold";
  color: #202020;
  letter-spacing: 0.18px;
}
.main-rt-top-review {
  width: 100%;
  /* height: 281px; */
  background: #fff;
  border-radius: 0px 0px 12px 12px;
  padding: 31px 26px 46px;
}

.review-head {
  color: #888;
  font-size: 13px;
  font-family: "KakaoBig Bold";
}
.review-title {
  /* max-height: 56px; */
  padding-top: 16px;
  color: #444;
  font-size: 18px;
  font-family: "KakaoBig Bold";
  line-height: 1.56;
}
.review-text {
  /* max-height: 108px; */
  padding-top: 11px;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.92;
  letter-spacing: -0.1px;
  text-overflow: ellipsis;
}

.main-rt-banner {
  position: relative;
  width: 100%;
  height: 210px;
  margin-top: 30px;
  border-radius: 12px;
  background: #fff5cc;
}
.banner-url {
  display: flex;
  width: 100%;
  max-height: 210px;
  padding: 35px 26px;
}
.banner-txt h2 {
  font-size: 20px;
  font-family: "KakaoBig Bold";
  color: #661a20;
  padding-bottom: 10px;
  line-height: 1.5;
  letter-spacing: -0.18px;
}
.banner-txt span {
  font-size: 14px;
  color: #661a20;
  opacity: 0.8;
}

.banner-img {
  position: absolute;
  right: 12px;
  bottom: 10px;
}
.banner-img img {
  width: 110px;
  height: 110px;
}

/* 설문조사 */
.main-rt-card {
  width: 100%;
  /* height: 387px; */
  padding: 30px 26px;
}

.rt-card-title {
  font-size: 20px;
  line-height: 1.61;
  margin-bottom: 19px;
  font-family: "KaKaoBig Bold";
}

.rt-card-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.rt-card-list {
  display: flex;
  height: 60px;
  background: #f5f5f4;
  border-radius: 6px;
  align-items: center;
}
.rt-card-list img {
  border-radius: 6px;
  width: 60px;
  height: 100%;
  object-fit: cover;
}
.card-list-box {
  padding-left: 16px;
}
.card-list-box h3 {
  font-size: 15px;
  font-family: "KaKaoBig Bold";
  color: #444;
  line-height: 1.73;
}
.card-list-box span {
  font-size: 13px;
  color: #888;
  line-height: 1.48;
}

/* 소식정보 */

.main-rt-news {
  width: 100%;
  /* height: 37.5vw;
  max-height: 420px; */
  padding: 30px 26px;
}
.main-rt-news h2 {
  font-size: 20px;
  font-family: "KakaoBig Bold";
  line-height: 1.61;
  color: #202020;
  margin-bottom: 19px;
}
.news-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 26.78vw;
  max-height: 300px;
  gap: 0.5%;
}

.news-item-list-g,
.news-item-list-y {
  width: 49.5%;
  height: 49.5%;
  padding: 15px 12px 12px;
  border-radius: 4px;
  display: flex;
  position: relative;

  background: #aaa6a2;
}

.news-item-list-g {
  background: #aaa6a2;
}
.news-item-list-y {
  background: #ffc92d;
}
.news-item-txt {
  font-size: 15px;
  font-family: "KakaoBig Bold";
  color: #fff;
  line-height: 1.61;
}

.news-item-img {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 12px;
  bottom: 12px;
}

@media all and (max-width: 768px) {
  .main-rt {
    width: 100%;
    max-width: 100%;
  }
  .main-rt-top {
  }
  .main-rt-banner,
  .banner-url {
    height: 53.38vw;
    max-height: 410px;
  }
  .main-rt-card {
    height: 49.47;
    max-height: 380px;
  }
  .main-rt-news {
    /* height: 103.25vw;
    max-height: 790px; */
  }
  .news-item {
    height: 88.54vw;
    max-height: 680px;
    /* height: 89.84vw;
    max-height: 690px; */
  }
}
