.main-rt {
}
.main-rt-top {
  width: 360px;
  height: 560px;
}

.main-rt-top-donation {
}
.main-rt-top-review {
}

.main-rt-banner {
  width: 360px;
  height: 204px;
  margin-top: 30px;
  border-radius: 12px;
  background: pink;
}

.main-rt-card {
  width: 360px;
  height: 387px;
  background: pink;
}
.main-rt-news {
  width: 360px;
  height: 420px;

  background: pink;
}
