.main-left {
  width: 700px;
}

.main-lt-list {
  width: 700px;
  height: auto;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 15px 0px;
  background-color: rgb(255, 255, 255);
  padding: 24px 30px 32px;
}

.main-lt-list h4 {
  font-size: 20px;
  font-weight: 600;
  color: #202020;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

.main-lt-list p {
  font-size: 15px;
  color: #666666;
  padding-top: 4px;
  line-height: 1.6;
}

.main-lt-list button {
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Sans KR";
}

/* 0번 */
.main-lt-clickcard img {
  padding: 0;
  width: 700px;
  height: auto;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 15px 0px;
}

/* 1번 & 3번 */

/* 2번 & 4번*/
.card-list {
  display: flex;
  width: auto;
  flex: 1 1 0%;
  /* justify-content: space-around; */
  padding-top: 16px;
  margin: -20px calc(-10px);
  flex-wrap: wrap;
  align-items: stretch;
}

.card-item {
  width: calc(33.33% - 20px);
  margin: 20px calc(10px);
  height: auto;

  /* width: 200px;
  margin: 20px 10px; */
}

.card-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
}

.card-content {
  padding-top: 12px;
}

.card-content strong {
  font-size: 14px;
  color: #202020;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.card-content .card-subtxt {
  display: block;
  font-size: 12px;
  color: #888888;
  margin-top: 2px;
  letter-spacing: -0.1px;
  line-height: 18px;
}

.progress-container {
  padding-top: 8px;
  /* margin-top: 20px; */
}

.progress-bar {
  background-color: rgb(233, 233, 233);
  height: 3px;
  width: 100%;
  border-radius: 999px;
  box-sizing: initial;
}

.current-bar {
  height: 100%;
  border-radius: inherit;
  background-color: rgb(255, 64, 80);
  width: 39%;
  box-sizing: content-box;
}

.progress-info {
  display: inline-flex;
  padding-top: 4px;
  justify-content: space-between;
  width: 100%;
}

.progress-info span {
  font-size: 12px;
  color: rgb(32, 32, 32);
  line-height: 1.67;
  font-weight: 600;
}
.progress-info .txt-per {
  color: rgb(255, 64, 80);
}

/* 4번만 */
.tag-list {
  margin-top: 13px;
  margin-bottom: 21px;
  display: flex;
  gap: 6px;
}

.tag-list button {
  height: 37px;
  padding: 7px 14px;
  color: rgb(32, 32, 32);
  border-radius: 999px;
  border: 1px solid rgb(238, 238, 238);
}

.tag-list button:first-child {
  background-color: rgb(32, 32, 32);
  color: #fff;
  font-weight: 600;
}

/* 5번 슬라이드 */

.lt-slide {
  background-color: #000;
  padding: 0;
}

.lt-slide .list-content strong {
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;

  text-align: left;
  user-select: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lt-slide button {
  background: none;
}

.lt-slide .list-content em {
  margin-top: 15px;
  color: rgb(187, 107, 255);
  font-size: 13px;
  letter-spacing: -0.3px;
  align-self: flex-start;
  height: 30px;
  padding: 0px 12px;
  border-radius: 0px;
  border: 1px solid rgba(187, 107, 255, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* 6번 리스트 */

.main-lt-donation-list .main-lt-list {
  padding: 0;
}

.main-lt-list-inner {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.main-lt-list-inner img {
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
  border-radius: 12px 0 0 12px;
  object-fit: cover;
}

.list-content {
  padding: 0px 30px;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
}

.list-content button {
  border: 0px;
  color: #999;
  font-size: 13px;
  padding-top: 10px;
  box-sizing: border-box;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: -0.1px;
  height: auto;
  font-weight: 600;
}

.list-content span:first-child {
  margin-right: 2px;
}

.list-content strong {
  font-size: 20px;
  color: #202020;
  padding-top: 3px;
  overflow-wrap: break-word;
  word-break: keep-all;
  color: rgb(32, 32, 32);
  letter-spacing: -0.1px;
  line-height: 1.56;
  font-weight: 600;
}

.list-content .list-subtxt {
  font-size: 14px;
  color: #888;
  margin-top: 11px;
  line-height: 20px;
  letter-spacing: -0.1px;
  display: inline-block;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main-lt-list .progress-container {
  padding-top: 16px;
}

.main-lt-list .progress-container .progress-bar {
  height: 4px;
}

.list-content .progress-info span {
  font-size: 14px;
  line-height: 1.57;
}

/* 반응형 */
@media all and (max-width: 768px) {
  .main-lt-list {
    /* width: 80%; */
    /* height: 92.44vw; */
    /* max-height: 710px; */
  }

  .inner {
    margin: 0 auto;
  }

  /* 0번 */
  .main-lt-clickcard img {
    content: url(../images/firstcard-mobile.jpg);
  }
}
